<div class="mt-3" *ngIf="isPageLoaded">

	<div class="row mb-3">
		<ng-container *ngxPermissionsOnly="[perms.create]">
			<div class="col-2 d-flex" *ngIf="isEditPage()">
				<button type="button" class="btn btn-success btn-block" (click)="addStore()">
					<i class="fa fa-plus" aria-hidden="true"></i>
					Add Store
				</button>
			</div>
		</ng-container>

		<div class="col" *ngIf="filterFormSettings">
			<pkz-filter-form [config]="filterFormSettings"
			                 (filterChanged)="onFilter($event)"
			                 [values]="filtersObj"
			></pkz-filter-form>
		</div>
	</div>

	<ngx-datatable
			#table
			class="bootstrap"
			pkzResponsiveDatatable
			[rows]="rows$ | async"
			[rowHeight]="35"
			columnMode="force"
			[footerHeight]="40"
			[limit]="page.limit"
	>
		<ngx-datatable-column name="S.no" prop="category_number" [minWidth]="55" [maxWidth]="80"></ngx-datatable-column>

		<ngx-datatable-column name="Store Icon" prop="image" [minWidth]="90" [maxWidth]="110" [sortable]="false">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<img [src]="value | imageSecure:imageOptions | async" alt="" [attr.height]="imageOptions.height / 2">
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Store Category Name" prop="display_name"></ngx-datatable-column>

		<ngx-datatable-column name="Shop Type" prop="type">
			<ng-template let-value="value" ngx-datatable-cell-template>
				{{getShopTypeName(value)}}
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Status" prop="status">
			<ng-template let-value="value" ngx-datatable-cell-template>
				{{getStatusName(value)}}
			</ng-template>
		</ngx-datatable-column>

		<ng-container *ngxPermissionsOnly="[perms.delete]">
			<ngx-datatable-column *ngIf="isEditPage()" [sortable]="false" [minWidth]="110" [maxWidth]="130">
				<ng-template ngx-datatable-cell-template let-row="row">

					<div class="actions">
						<a href="#" title="Edit" (click)="onDelete($event, row)" class="actions__item text-danger">
							<i class="fa fa-trash-o"></i>
						</a>
					</div>

				</ng-template>
			</ngx-datatable-column>
		</ng-container>

		<ngx-datatable-footer>
			<ng-template
					ngx-datatable-footer-template
					let-rowCount="rowCount"
					let-pageSize="pageSize"
					let-selectedCount="selectedCount"
					let-offset="offset">

				<pkz-table-pagination
						[rowCount]="rowCount"
						[pageSize]="pageSize"
						[selectedCount]="selectedCount"
						[offset]="offset"
						(page)="table.onFooterPage($event)"
				></pkz-table-pagination>
			</ng-template>
		</ngx-datatable-footer>

	</ngx-datatable>

</div>