.products-status {
  padding: 5px 10px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  display: flex;

  &__item {
    display: flex;
    align-items: center;

    .badge {
      margin-left: 10px;
    }
  }

  .divider {
    margin: 0 10px;

  }
}
