<div class="card">
	<div class="card-body p-0">

		<div *ngIf="isPageLoaded">
			<ng-container *ngIf="(filterFormSettings$ | async) as settings">
				<pkz-filter-form [config]="settings"
				                 (filterChanged)="onFilter($event)"
				                 [values]="filtersObj"
				                 [embedded]="true"
				                 class="py-2"
				>
				</pkz-filter-form>
			</ng-container>

			<ngx-datatable
        #table
				class="bootstrap"
				pkzResponsiveDatatable
				[rows]="rows"
				[rowHeight]="35"
				columnMode="flex"
				[footerHeight]="40"
				[externalPaging]="true"
				[count]="page.count"
				[offset]="page.pageNumber"
				[limit]="page.limit"
				(page)="setPage($event)"
			>
				<ngx-datatable-column name="S.no" [flexGrow]="0.5">
					<ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
						{{rowIndex + 1}}
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column name="Action" [sortable]="false" [flexGrow]="0.5">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<div class="actions">
							<a *ngIf="isRequestTab()"
							   [routerLink]="['settings', row._id, row.promo_contacts_id, row.request_type]"
							   href="#"
							   class="actions__item"
							>
								<i class="fa fa-telegram" aria-hidden="true"></i>
							</a>

							<!--							TODO api not ready yet-->
							<a *ngIf="isSentTab()" href="#" class="actions__item">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
							</a>
						</div>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-column name="Merchant Name" prop="merchant.name" [flexGrow]="1"></ngx-datatable-column>
				<ngx-datatable-column name="Shop Name" prop="shop_name" [flexGrow]="1"></ngx-datatable-column>
				<ngx-datatable-column name="Location" prop="location" [flexGrow]="1"></ngx-datatable-column>
				<ngx-datatable-column name="Users Count" prop="user_count" [flexGrow]="1"></ngx-datatable-column>

				<ngx-datatable-column name="Created On" prop="created_at" [flexGrow]="1">
					<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
						<span>{{value | date:'dd/MMM/yyyy'}}</span>
					</ng-template>
				</ngx-datatable-column>

				<ngx-datatable-footer>
					<ng-template
							ngx-datatable-footer-template
							let-rowCount="rowCount"
							let-pageSize="pageSize"
							let-selectedCount="selectedCount"
							let-offset="offset">

						<pkz-table-pagination
								[rowCount]="rowCount"
								[pageSize]="pageSize"
								[selectedCount]="selectedCount"
								[offset]="offset"
								(page)="table.onFooterPage($event)"
						></pkz-table-pagination>
					</ng-template>
				</ngx-datatable-footer>

			</ngx-datatable>
		</div>

	</div>
</div>
