.support-call-log-modal {
  //background-color: #f5f5f5;

  .modal-header {
    border: none;
    padding: 8px 16px;
  }

  .modal-body {
    font-size: 0.9rem;
    max-height: calc(100vh - 210px);
    overflow: auto;
  }

  textarea {
    border: 1px solid #bdbdbd !important;
  }

  .error-msg {
    color: #f92f28;
    font-size: 0.8rem;
    padding-left: 5px;
  }

  .actions {
    margin: 8px 0 0 0;

    .btn {
      width: 120px;
      border-radius: 0;
      height: 32px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .messages {
    display: flex;
    flex-direction: column;

    .message {
      padding: 8px;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      color: #616161;
      background-color: #ffffff;
      border: 1px solid #bdbdbd;
      font-size: 0.9rem;

      .user-name {
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}


.silver-text {
  color: #616161;
}

.font-size-1-2rem {
  font-size: 1.2rem;
}


.color-light-blue {
  color: #03a9f4;
}

.color-red {
  color: #ff2727 !important;
}

.color-purple {
  color: #7d3dee !important;
}

.custom-modal-height {
  max-height: 680px;
  overflow: auto;
}
