@import 'variables';

.categories-list {
  padding: 0.375rem 0.75rem 0.375rem 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  margin-bottom: 0;
  min-height: 40px;

  .tree {
    padding-left: 10px;
    margin-bottom: 0;

    .value-container {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .node-value {
      flex-grow: 1;
      display: flex;
      align-items: center;
      width: calc(100% - 25px);

      &::after {
        display:none;
      }

      .node-name {
        flex-grow: 1;
      }

      .node-buttons {
        flex-shrink: 0;
      }

      .fa:not(:first-child) {
        margin-left: 5px;
      }
    }

    .fa.disabled {
      visibility: hidden;
    }
  }
}
