@import 'variables';

body {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
}

pkz-app-root {
  min-height: 100vh;
  display: block;
  background-color: #fff;
}

.content {
  padding: 15px 20px 0;
  overflow-y: auto;
  height: calc(100vh - 75px);

  &::after {
    content: '';
    display: block;
    height: 40px;
  }
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
