//Colors
$gray-1: #e9e9e9;
$gray-2: #bdbdbd;
$gray-3: #9e9e9e;
$gray-4: #fafafa;
$gray-5: #f6f6f6;
$gray-6: #c4c4c4;
$gray-7: #121212;
$gray-8: #e0e0e0;

//Sidebar
$side-active-bg: #d3eafd;
$side-active-color: #32495c;

//Navbar
$top-bar-bg: $gray-2;
$top-bar-edge-color: $gray-3;
$side-menu-color: $gray-4;
$side-menu-edge-color: $gray-2;
$side-menu-separator-color: $gray-2;
$main-page-bg: $gray-4;

//Dashboard
$red-1: #ff003a;
$blue-1: #00bafd;
$blue-2: #2960c4;
$green-1: #6ecf3d;
$green-2: #00a993;
$violet-1: #803fc7;
$orange-1: #ff9100;


//Forms
$red-2: #ff4c6a;

//Tabs
$tab-text-color: #1e1e1e;
$tab-bg-color: $gray-8;
$tab-bg-color-active: #fff;
$tab-border-color: #a6a6a6;

// Table
$filter-border-color: $gray-8;
