.accept-order-actions {
  .btn {
    width: 120px;
    border-radius: 0;
    height: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.error-message {
  font-size: 0.8rem;
  color: #f92f28;;
  padding-left: 5px;
}
