<pkz-auth-block>
	<h4 class="title">Change password</h4>
	<form (ngSubmit)="resetPass()" #resetPassForm="ngForm">
		<div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
			<div><strong>Oh snap!</strong></div>
			<div *ngFor="let error of errors">{{ error }}</div>
		</div>
		<div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
			<div><strong>Hooray!</strong></div>
			<div *ngFor="let message of messages">{{ message }}</div>
		</div>
		<div class="form-group">
			<label for="input-password">Enter New Password</label>
			<input name="password" [(ngModel)]="user.password" type="password" id="input-password"
			       class="form-control first" placeholder="New Password" #password="ngModel"
			       [required]="isPasswordRequired"
			       autofocus>
		</div>
		<div class="form-group">
			<label for="input-re-password">Confirm New Password</label>
			<input
					name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
					class="form-control last" placeholder="Confirm Password" #rePass="ngModel"
					[class.form-control-danger]="!rePass.errors?.required && password.value != rePass.value && rePass.touched"
					[required]="isPasswordRequired">
			<small class="form-text error"
					*ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
				Password does not match the confirm password.
			</small>
		</div>
		<button [disabled]="submitted || !resetPassForm.form.valid" class="btn btn-secondary btn-block"
		        [class.btn-pulse]="submitted">
			Change password
		</button>
	</form>
</pkz-auth-block>