
.silver-text {
  color: #616161;
}

.close-expiry-dates-btn {
  width: 120px;
  border-radius: 0;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-0-35 {
  flex: 0.35;
}

.flex-0-3 {
  flex: 0.3;
}

.separator-eeeeee {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin: 16px 0;
}
