<div class="modal-header">
    <h5 class="modal-title">Edit Delivery Time</h5>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="d-flex justify-content-center px-5 py-3 flex-column">
        <span class="mb-3">Expected Delivery Time:</span>
        <pkz-date-time-picker [(ngModel)]="stringDateModel" name="activeEndDate"
                              [seconds]="false"
                              [dateString]="getExpectedDeliveryTime()"
                              [inputDatetimeFormat]="dateTimeFormat"></pkz-date-time-picker>
    </div>
</div>
<div class="modal-footer edit-delivery-time-buttons">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-grayed mr-2" (click)="dismiss()">Close</button>
        <button type="button" class="btn btn-primary mr-3" (click)="onConfirm()">Save Changes</button>
    </div>
</div>
