<div class="modal-header">
    <h5 class="modal-title">{{getTitle()}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="d-flex justify-content-center" *ngIf="activeView === 'CONFIRM_CANCEL_ORDER_VIEW' else cancelOrder">
        Are you sure you want to Cancel the Order?
    </div>
    <ng-template #cancelOrder>
        <div class="d-flex">
            <div class="flex-0-45 d-flex flex-column align-items-end">
                <span class="h-32">Order Value:</span>
                <span class="h-32" *ngIf="data.isOnlinePayment">Reduction (%):</span>
                <span class="h-32" *ngIf="data.withDelivery">Excluded Delivery Charge:</span>
            </div>
            <div class="flex-0-55 pl-3">
                <span class="h-32">{{data?.totalPrice?.toFixed(2)}}</span>
                <div class="d-flex justify-content-between h-32" *ngIf="data.isOnlinePayment">
                    <select class="form-control form-control-sm flex-0-45 h-28" [(ngModel)]="reductionPercentage" (ngModelChange)="recalculateTotalReduction()">
                        <option *ngFor="let p of percentageValues" [value]="p">{{p}}%</option>
                    </select>
                    <div class="flex-0-2 d-flex justify-content-center align-items-center">OR</div>
                    <input class="form-control form-control-sm flex-0-45 h-28" type='number'
                           placeholder="value" [(ngModel)]="reductionValue" (ngModelChange)="recalculateTotalReduction()"
                    >
                </div>
                <div class="h-32" *ngIf="data.withDelivery">
                    <span *ngIf="data.deliveryCharges else zero">{{data.deliveryCharges?.toFixed(2)}}</span>
                    <ng-template #zero>
                        <span>0.00</span>
                    </ng-template>
                    <input type="checkbox" class="ml-3" [checked]="excludeDeliveryCharge" [(ngModel)]="excludeDeliveryCharge" (ngModelChange)="recalculateTotalReduction()">
                </div>
            </div>
        </div>
        <div class="separator-eeeeee"></div>
        <div class="d-flex">
            <div class="flex-0-45 d-flex flex-column align-items-end">
                <span class="h-32">Total refund amount:</span>
                <span class="h-32">Total reduction:</span>
            </div>
            <div class="flex-0-55 pl-3">
                <span class="h-32">{{(data.totalPrice - totalReduction).toFixed(2)}}</span>
                <span class="h-32">{{totalReduction?.toFixed(2)}}</span>
            </div>
        </div>
    </ng-template>
</div>
<div class="modal-footer cancel-order-buttons">
    <div class="d-flex justify-content-end" *ngIf="activeView === 'CONFIRM_CANCEL_ORDER_VIEW' else cancelOrderActions">
        <button type="button" class="btn btn-primary mr-3" (click)="onConfirm()">Yes</button>
        <button type="button" class="btn btn-outline-grayed mr-2" (click)="dismiss()">No</button>
    </div>
    <ng-template #cancelOrderActions>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-grayed mr-3" (click)="dismiss()">Close</button>
            <button type="button" class="btn btn-primary" (click)="showConfirmationView()">Refund</button>
        </div>
    </ng-template>
</div>
